D:\intelFPGA_lite\18.1\Projet_VHDL\db
D:\intelFPGA_lite\18.1\Projet_VHDL\incremental_db
D:\intelFPGA_lite\18.1\Projet_VHDL\output_files
D:\intelFPGA_lite\18.1\Projet_VHDL\simulation
D:\intelFPGA_lite\18.1\Projet_VHDL\septseg.vhd.bak
D:\intelFPGA_lite\18.1\Projet_VHDL\septseg.vhd
D:\intelFPGA_lite\18.1\Projet_VHDL\Projet_VHDL.vhd
D:\intelFPGA_lite\18.1\Projet_VHDL\Projet_VHDL.qws
D:\intelFPGA_lite\18.1\Projet_VHDL\Projet_VHDL.qsf